database:
    image: postgres:latest
    hostname: databasehost

php:
    extends:
        file: docker-common.yml
        service: php
    links:
        - database:databasehost
    volumes:
        - .:/app:rw
web:

    image: coolsoft/nginx
    links:
        - php:php
#    ports:
#        - "0.0.0.0:80:80"
#        - "0.0.0.0:443:443"
    volumes:
        - .:/app:rw
    working_dir: /app

cli:
    volumes:
        - .:/app:rw
    extends:
        file: docker-common.yml
        service: php
    links:
        - database:databasehost
        - web:web-server
    working_dir: /app

jenkins-swarm:
    extends:
        file: docker-common.yml
        service: jenkins-swarm
    privileged: true
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock
    environment:
        JENKINS_URL: 'http://hq.coolsoft.co:8090'
        JENKINS_USER: 'jenkins'
        JENKINS_PASSWORD: 'jenkins'